/* COLORS */

.color1 {color: #292222;}
.color2 {color: #312e2e;}
.color3 {color: #423d3c;}
.color4 {color: #5c524f;}
.color5 {color: #7d6f69;}


.color1 {color: #00443e;}
.color2 {color: #005c45;}
.color3 {color: #1a804f;}
.color4 {color: #61b259;}
.color5 {color: #baf163;}


.color1 {color: #5d245c;}
.color2 {color: #8e2866;}
.color3 {color: #d0356f;}
.color4 {color: #ff5d80;}
.color5 {color: #ff9286;}


.color1 {color: #0b131c;}
.color2 {color: #193348;}
.color3 {color: #1c5972;}
.color4 {color: #238ca9;}
.color5 {color: #2bc0c8;}


